body {
  margin: 0;
  background-color: #f8f8ff;
  color: #343434;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif; */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #8a60ee;
  letter-spacing: -0.5px;
}

p {
  margin-bottom: 1.2em;
}

.nav-buttons {
  position: fixed;
  bottom: 50px;
  right: 40px;
}

.btn {
    display: inline-block;
    padding: 8px 18px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #343434;
    background-color: #f8f8ff;
    border: 4px solid #8a60ee;
    border-radius: 5px;
}

.btn:hover {
  background-color: #ededed;
}

.next-info {
	font-size: 0.85rem;
  	font-weight: 400;
	float: right;
}

@media (max-width: 600px) {
  .container {
    margin: 60px auto;
  }
  .nav-buttons {
    bottom: 20px;
    right: 20px;
  }
}
